<!DOCTYPE html>
<html lang="en">
<title>Zoo events Booking System</title>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/" />
</head>
<body>
    <div class="container">
      <h1>Thank you for your booking. These are the details of your booking</h1>
      <h2><a href="http://127.0.0.1:5000/" >Go home</a></h2>
      <table>
        <tr>
          <td>Event Details:</td>
          <td>{{bookingData[0][3]}}</td>
        </tr>
        <tr>
          <td>Customer Name:</td>
          <td>{{bookingData[0][1]}}</td>
        </tr>
        <tr>
          <td>Customer Email:</td>
          <td>{{bookingData[0][2]}}</td>
        </tr>
        <tr>
          <td>Number of Guests</td>
          <td>{{bookingData[0][4]}}</td>
        </tr>
        <tr>
          <td>Total Price</td>
          <td>{{bookingData[0][5]}}</td>
        </tr>
        <tr>
          <td>Booking reference</td>
          <td>BOK-REF-{{bookingData[0][0]}}</td>
        </tr>
      </table>
    </div>
</body>
</html>